<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/image/theyyam.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/image/c2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/image/c3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/ca1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">FESTIVALS</h5>
                    <p class="card-text">The festival season, the pride and joy of Kerala, is epitomised by the
                        ferocious beats of the chenda (drums) emanating across the landscape.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/ca2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">CUISINE</h5>
                    <p class="card-text">Spices have always played an integral part of Kerala's history. Our food is an
                        example of the very same and we have offerings for people from all over the world.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/ca3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BACKWATERS</h5>
                    <p class="card-text">The scenic backwaters of Kerala comprise serene stretches of lakes, canals and
                        lagoons located parallel to the coast of the Arabian Sea.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/ca4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">ARTFORMS</h5>
                    <p class="card-text">Kerala has birthed and nurtured a plethora of art forms over a thousand years.
                        Our shores have watched them evolve and flourish in various shapes and forms.</p>
                </div>
            </div>
        </div>
    </div>
</div>